<?xml version='1.0' encoding='utf-8'?>
<widget id="net.musecom.myweather" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MyWeather</name>
    <description>openweathermap api를 이용한 날씨정보 앱입니다.</description>
    <author email="gimpo5975@naver.com" href="https://cordova.apache.org">
        gimpo5975
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name ="android">
    <application name = "android-usesCleartextTraffic" value="true" />
    </platform>
</widget>
